glATI.h eol=lf
gl_bumparb.c eol=lf
gl_bumpparhelia.c eol=lf
gl_bumpradeon.c eol=lf
gl_decals.c eol=lf
gl_draw.c eol=lf
gl_glare.c eol=lf
gl_mesh.c eol=lf
gl_rmain.c eol=lf
gl_rmisc.c eol=lf
gl_rsurf.c eol=lf
gl_screen.c eol=lf
gl_screenrect.c eol=lf
gl_utility.c eol=lf
gl_warp.c eol=lf
glquake.h eol=lf
menu.c eol=lf
net_dgrm.c eol=lf
net_udp.c eol=lf
quakedef.h eol=lf
snd_dma.c eol=lf
*.s eol=crlf
