* text=auto
*.m text diff=objc eol=lf
*.h text diff=objc eol=auto
*.c text eol=auto
*.cpp text eol=auto
*.swift text diff=swift eol=lf

*.pbxproj text eol=lf

*.sln text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.rc text eol=crlf
*.vcproj text eol=crlf

*.pdf binary
*.gif binary
*.jpg binary
*.png binary
